<html>
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script type="text/javascript" src="resources/scripts/jquery-1.7.1.min.js"></script>
        <title>home vm</title>
		<script   type="text/javascript">
        </script>
	</head>
	<body >
        <form  method="post" action="/java/login">
			姓名 xuguochun 密码 123456<br/>
			姓名：<input id="name" name="name" type="text" maxLength="20"/><br/>
			密码：<input id="password" name="password" type="password" maxLength="20"/><br/>
			<input  type="submit" value="登录"/>
			 <font color="red"> $message  </font>
        </form>

</form>
    </body>
</html>